.directory-menu {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 

  // display: grid;
  // grid-template-rows: repeat(2, 1fr);
  // grid-template-columns: repeat(3, 1fr);

}